<div>
    
        <div class="header">
            <span translate="jhipsterApp.two.home.title">Twos</span>
            <md-button ng-hide="actionButton" ng-click="showForm=true; actionButton=true;" class="action">Create</md-button>
            <md-button ng-show="actionButton" ng-click="showForm=false; actionButton=false" class="action">Close</md-button>
        </div>
        <md-content md-theme="altTheme" ng-show="showForm" layout-padding>
            <form name="editForm" ng-submit="save()">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>ID</label>
                        <input ng-model="two.id" readonly>
                    </md-input-container>
                    

                        <md-input-container flex>
                            <label translate="jhipsterApp.two.first">First</label>
                            <input ng-model="two.first">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.two.last">Last</label>
                            <input ng-model="two.last">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.two.age">Age</label>
                            <input ng-model="two.age">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.two.email">Email</label>
                            <input ng-model="two.email">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.two.oye">Oye</label>
                            <input ng-model="two.oye">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.two.eyo">Eyo</label>
                            <input ng-model="two.eyo">
                        </md-input-container>

                </div>
                <md-button md-theme="default" type="button" ng-click="clear();" class="action">Clear</md-button>
                <md-button md-theme="default" class="action">Save</md-button>
            </form>
        </md-content>
        <div id="grid" ui-grid-pinning ui-grid-edit ui-grid-cellNav ui-grid="gridOptions" class="grid"></div>
</div>
</div>
