<div>
    
        <div class="header">
            <span translate="jhipsterApp.courier_preferences.home.title">Courier_preferencess</span>
            <md-button ng-hide="actionButton" ng-click="showForm=true; actionButton=true;" class="action">Create</md-button>
            <md-button ng-show="actionButton" ng-click="showForm=false; actionButton=false" class="action">Close</md-button>
        </div>
        <md-content md-theme="altTheme" ng-show="showForm" layout-padding>
            <form name="editForm" ng-submit="save()">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>ID</label>
                        <input ng-model="courier_preferences.id" readonly>
                    </md-input-container>
                    

                        <md-input-container flex>
                            <label translate="jhipsterApp.courier_preferences.priority">Priority</label>
                            <input ng-model="courier_preferences.priority">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.courier_preferences.shipment_limit">Shipment_limit</label>
                            <input ng-model="courier_preferences.shipment_limit">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.courier_preferences.is_enabled">Is_enabled</label>
                            <input ng-model="courier_preferences.is_enabled">
                        </md-input-container>







      <md-select placeholder="Placeholder"  name="source_cluster" ng-model="courier_preferences.source_cluster.id">
        <md-option ng-repeat="cluster in clusters" value="{{cluster.id}}">{{cluster.name}}</md-option>
      </md-select>




      


      <md-select placeholder="Placeholder"  name="destination_cluster" ng-model="courier_preferences.destination_cluster.id">
        <md-option ng-repeat="cluster in clusters" value="{{cluster.id}}">{{cluster.name}}</md-option>
      </md-select>




      


      <md-select placeholder="Placeholder"  name="payment_service_mapper" ng-model="courier_preferences.payment_service_mapper.id">
        <md-option ng-repeat="payment_service_mapper in payment_service_mappers" value="{{payment_service_mapper.id}}">{{payment_service_mapper.description}}</md-option>
      </md-select>




      


      <md-select placeholder="Placeholder"  name="courier" ng-model="courier_preferences.courier.id">
        <md-option ng-repeat="courier in couriers" value="{{courier.id}}">{{courier.name}}</md-option>
      </md-select>




      



                </div>
                <md-button md-theme="default" type="button" ng-click="clear();" class="action">Clear</md-button>
                <md-button md-theme="default" class="action">Save</md-button>
            </form>
        </md-content>
        <div id="grid" ui-grid-pinning ui-grid-edit ui-grid-cellNav ui-grid="gridOptions" class="grid"></div>
</div>
</div>
