<div>
    
        <div class="header">
            <span translate="jhipsterApp.fc_serviceability.home.title">Fc_serviceabilitys</span>
            <md-button ng-hide="actionButton" ng-click="showForm=true; actionButton=true;" class="action">Create</md-button>
            <md-button ng-show="actionButton" ng-click="showForm=false; actionButton=false" class="action">Close</md-button>
        </div>
        <md-content md-theme="altTheme" ng-show="showForm" layout-padding>
            <form name="editForm" ng-submit="save()">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>ID</label>
                        <input ng-model="fc_serviceability.id" readonly>
                    </md-input-container>
                    

                        <md-input-container flex>
                            <label translate="jhipsterApp.fc_serviceability.is_enabled">Is_enabled</label>
                            <input ng-model="fc_serviceability.is_enabled">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.fc_serviceability.shipment_cutoff_time">Shipment_cutoff_time</label>
                            <input ng-model="fc_serviceability.shipment_cutoff_time">
                        </md-input-container>







      <md-select placeholder="Placeholder"  name="fc_id" ng-model="fc_serviceability.fc_id.id">
        <md-option ng-repeat="fulfillment_center in fulfillment_centers" value="{{fulfillment_center.id}}">{{fulfillment_center.name}}</md-option>
      </md-select>




      


      <md-select placeholder="Placeholder"  name="st_pt_id" ng-model="fc_serviceability.st_pt_id.id">
        <md-option ng-repeat="payment_service_mapper in payment_service_mappers" value="{{payment_service_mapper.id}}">{{payment_service_mapper.description}}</md-option>
      </md-select>




      



                </div>
                <md-button md-theme="default" type="button" ng-click="clear();" class="action">Clear</md-button>
                <md-button md-theme="default" class="action">Save</md-button>
            </form>
        </md-content>
        <div id="grid" ui-grid-pinning ui-grid-edit ui-grid-cellNav ui-grid="gridOptions" class="grid"></div>
</div>
</div>
