<div>
    <div class="header">
        <span translate="jhipsterApp.courier_country_serviceability.home.title">Courier_country_serviceabilitys</span>
        <md-button ng-hide="actionButton" ng-click="showForm=true; actionButton=true;" class="action">Create</md-button>
        <md-button ng-show="actionButton" ng-click="showForm=false; actionButton=false" class="action">Close</md-button>
    </div>
    <div ng-controller="Courier_country_serviceabilityController as ctrl" layout="column">
        <md-content class="md-padding">
            <form ng-submit="$event.preventDefault()">
                <p>Use <code>md-autocomplete</code> to search for matches from local or remote data sources.</p>
                <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="What is your favorite US state?">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found for "{{ctrl.searchText}}".
                    </md-not-found>
                </md-autocomplete>
                <br/>
                <md-checkbox ng-model="ctrl.simulateQuery">Simulate query for results?</md-checkbox>
                <md-checkbox ng-model="ctrl.noCache">Disable caching of queries?</md-checkbox>
                <md-checkbox ng-model="ctrl.isDisabled">Disable the input?</md-checkbox>
                <p>By default, <code>md-autocomplete</code> will cache results when performing a query. After the initial call is performed, it will use the cached results to eliminate unnecessary server requests or lookup logic. This can be disabled above.</p>
            </form>
        </md-content>
    </div>
    <md-content md-theme="altTheme" ng-show="showForm" layout-padding>
        <form name="editForm" ng-submit="save()">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>ID</label>
                    <input ng-model="courier_country_serviceability.id" readonly>
                </md-input-container>
                <md-input-container flex>
                    <label translate="jhipsterApp.courier_country_serviceability.is_enabled">Is_enabled</label>
                    <input ng-model="courier_country_serviceability.is_enabled">
                </md-input-container>
                <md-input-container flex>
                    <label translate="jhipsterApp.courier_country_serviceability.shipment_capacity">Shipment_capacity</label>
                    <input ng-model="courier_country_serviceability.shipment_capacity">
                </md-input-container>
                <md-select placeholder="Placeholder" name="courier" ng-model="courier_country_serviceability.courier.id">
                    <md-option ng-repeat="courier in couriers" value="{{courier.id}}">{{courier.name}}</md-option>
                </md-select>
                <md-select placeholder="Placeholder" name="payment_service_mapper" ng-model="courier_country_serviceability.payment_service_mapper.id">
                    <md-option ng-repeat="payment_service_mapper in payment_service_mappers" value="{{payment_service_mapper.id}}">{{payment_service_mapper.description}}</md-option>
                </md-select>
                <md-select placeholder="Placeholder" name="country" ng-model="courier_country_serviceability.country.id">
                    <md-option ng-repeat="country in countrys" value="{{country.id}}">{{country.name}}</md-option>
                </md-select>
            </div>
            <md-button md-theme="default" type="button" ng-click="clear();" class="action">Clear</md-button>
            <md-button md-theme="default" class="action">Save</md-button>
        </form>
    </md-content>
    <div id="grid" ui-grid-pinning ui-grid-edit ui-grid-cellNav ui-grid="gridOptions" class="grid"></div>
</div>
</div>
