<div>
    
        <div class="header">
            <span translate="jhipsterApp.payment_service_mapper.home.title">Payment_service_mappers</span>
            <md-button ng-hide="actionButton" ng-click="showForm=true; actionButton=true;" class="action">Create</md-button>
            <md-button ng-show="actionButton" ng-click="showForm=false; actionButton=false" class="action">Close</md-button>
        </div>
        <md-content md-theme="altTheme" ng-show="showForm" layout-padding>
            <form name="editForm" ng-submit="save()">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>ID</label>
                        <input ng-model="payment_service_mapper.id" readonly>
                    </md-input-container>
                    

                        <md-input-container flex>
                            <label translate="jhipsterApp.payment_service_mapper.description">Description</label>
                            <input ng-model="payment_service_mapper.description">
                        </md-input-container>







      <md-select placeholder="Placeholder"  name="pt_id" ng-model="payment_service_mapper.pt_id.id">
        <md-option ng-repeat="payment_type in payment_types" value="{{payment_type.id}}">{{payment_type.name}}</md-option>
      </md-select>




      


      <md-select placeholder="Placeholder"  name="st_id" ng-model="payment_service_mapper.st_id.id">
        <md-option ng-repeat="service_type in service_types" value="{{service_type.id}}">{{service_type.name}}</md-option>
      </md-select>




      



                </div>
                <md-button md-theme="default" type="button" ng-click="clear();" class="action">Clear</md-button>
                <md-button md-theme="default" class="action">Save</md-button>
            </form>
        </md-content>
        <div id="grid" ui-grid-pinning ui-grid-edit ui-grid-cellNav ui-grid="gridOptions" class="grid"></div>
</div>
</div>
