<div>
    
        <div class="header">
            <span translate="jhipsterApp.fulfillment_center.home.title">Fulfillment_centers</span>
            <md-button ng-hide="actionButton" ng-click="showForm=true; actionButton=true;" class="action">Create</md-button>
            <md-button ng-show="actionButton" ng-click="showForm=false; actionButton=false" class="action">Close</md-button>
        </div>
        <md-content md-theme="altTheme" ng-show="showForm" layout-padding>
            <form name="editForm" ng-submit="save()">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>ID</label>
                        <input ng-model="fulfillment_center.id" readonly>
                    </md-input-container>
                    

                        <md-input-container flex>
                            <label translate="jhipsterApp.fulfillment_center.fcid">Fcid</label>
                            <input ng-model="fulfillment_center.fcid">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.fulfillment_center.name">Name</label>
                            <input ng-model="fulfillment_center.name">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.fulfillment_center.description">Description</label>
                            <input ng-model="fulfillment_center.description">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.fulfillment_center.fc_type">Fc_type</label>
                            <input ng-model="fulfillment_center.fc_type">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.fulfillment_center.franchise">Franchise</label>
                            <input ng-model="fulfillment_center.franchise">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.fulfillment_center.address1">Address1</label>
                            <input ng-model="fulfillment_center.address1">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.fulfillment_center.address2">Address2</label>
                            <input ng-model="fulfillment_center.address2">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.fulfillment_center.address3">Address3</label>
                            <input ng-model="fulfillment_center.address3">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.fulfillment_center.pincode">Pincode</label>
                            <input ng-model="fulfillment_center.pincode">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.fulfillment_center.o2s_tat">O2s_tat</label>
                            <input ng-model="fulfillment_center.o2s_tat">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate="jhipsterApp.fulfillment_center.is_enabled">Is_enabled</label>
                            <input ng-model="fulfillment_center.is_enabled">
                        </md-input-container>







      <md-select placeholder="Placeholder"  name="fc_city" ng-model="fulfillment_center.fc_city.id">
        <md-option ng-repeat="city in citys" value="{{city.id}}">{{city.name}}</md-option>
      </md-select>




      


      <md-select placeholder="Placeholder"  name="fc_state" ng-model="fulfillment_center.fc_state.id">
        <md-option ng-repeat="state in states" value="{{state.id}}">{{state.code}}</md-option>
      </md-select>




      


      <md-select placeholder="Placeholder"  name="fc_cluster" ng-model="fulfillment_center.fc_cluster.id">
        <md-option ng-repeat="cluster in clusters" value="{{cluster.id}}">{{cluster.name}}</md-option>
      </md-select>




      



                </div>
                <md-button md-theme="default" type="button" ng-click="clear();" class="action">Clear</md-button>
                <md-button md-theme="default" class="action">Save</md-button>
            </form>
        </md-content>
        <div id="grid" ui-grid-pinning ui-grid-edit ui-grid-cellNav ui-grid="gridOptions" class="grid"></div>
</div>
</div>
